PowerMapClassification/Resources/ClientDataTypeMap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           targetNamespace="http://tempuri.org/ClientDataTypeMap.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://tempuri.org/ClientDataTypeMap.xsd">
  <xs:element name="ClientDataTypeMaps" type="ClientDataTypeMapsType"/>
  <xs:complexType name="ClientDataTypeMapsType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Client" type="ClientType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="UdmType" type="UdmType"/>
    </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="UdmType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="UdmType" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="FeatureId" type="GUID" use="required" />
    <xs:attribute name="Group" type="xs:string" use="optional" />
    <xs:attribute name="LabelName" type="xs:string" use="optional" />
    <xs:attribute name="ClientDataType" type="xs:string" use="optional" />
    <xs:attribute name="InFirstList" type="xs:string" use="optional" />
  </xs:complexType>
    <xs:simpleType name="GUID">
        <xs:restriction base="xs:string">
            <xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>