PowerMapClassification/Resources/LocalizedStrings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/data/localizedStrings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="strings">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="s">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="_locID" type="xs:string" use="required" />
                <xs:attribute name="culture" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>